
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.cont {
    text-align: center;
    margin-bottom: 30px;
}

span {
    color: skyblue;
}

input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 2px solid skyblue;
}

iframe {
    display: none;
}
